<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
lang="en-GB" xml:lang="en-GB">
<head>
<meta charset="UTF-8"/>
<title>Put Title Here</title>
</head>
<body>
<h1>Put Heading Here</h1>
<form action="params.html" method="get">
<input type="text" name="pet" value="cat" />
<input type="text" name="car" value="bmw" />
<input type="submit" value="Go" />
</form> 
</body>
</html>





action="<%= '/upload/'+artist.name+'/album' %>"


https://open.spotify.com/album/4jnYLTLs0ro2Z3yVafwpHB?si=sHsnj4R3Sa2U3FWJwFrVRw