<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Artist Page</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/bandstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
    
<body>


<div class="container-fluid bg-dark text-white" id="discography">
    <h1 class="display-4 text-center">Browse Local Artists</h1>
    <div class="card-deck">
        <div class="card profile-card-1">
<!--            <img src="https://i.scdn.co/image/ab67616d0000b2737a799cc62e624fd6432779e3" alt="profile-sample1" class="background" />-->
            <img src="https://images.squarespace-cdn.com/content/535eb4d7e4b08c41d0c4ae5c/1554264966079-PUTT2QI6KVVC33W3Q3L1/Polyphia-Look-But-Dont-Touch.JPG?format=1000w&content-type=image%2Fjpeg" alt="profile-image" class="profile" />
            <div class="card-content">
              <h2>Polyphia<small>Progressive Metal</small></h2>
                 <div class="icon-block"><a href="https://open.spotify.com/artist/4vGrte8FDu062Ntj0RsPiZ?si=Unc4T52RRlyQXtodn9-uMA"><i class="fa fa-spotify"></i></a><a href="twitter.com/polyphia"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/polyphia"> <i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
        <div class="card profile-card-1">
<!--            <img src="https://i.scdn.co/image/ab67616d0000b2737a799cc62e624fd6432779e3" alt="profile-sample1" class="background" />-->
            <img src="https://images.squarespace-cdn.com/content/535eb4d7e4b08c41d0c4ae5c/1554264966079-PUTT2QI6KVVC33W3Q3L1/Polyphia-Look-But-Dont-Touch.JPG?format=1000w&content-type=image%2Fjpeg" alt="profile-image" class="profile" />
            <div class="card-content">
              <h2>Polyphia<small>Progressive Metal</small></h2>
                 <div class="icon-block"><a href="https://open.spotify.com/artist/4vGrte8FDu062Ntj0RsPiZ?si=Unc4T52RRlyQXtodn9-uMA"><i class="fa fa-spotify"></i></a><a href="twitter.com/polyphia"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/polyphia"> <i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
        <div class="card profile-card-1">
<!--            <img src="https://i.scdn.co/image/ab67616d0000b2737a799cc62e624fd6432779e3" alt="profile-sample1" class="background" />-->
            <img src="https://images.squarespace-cdn.com/content/535eb4d7e4b08c41d0c4ae5c/1554264966079-PUTT2QI6KVVC33W3Q3L1/Polyphia-Look-But-Dont-Touch.JPG?format=1000w&content-type=image%2Fjpeg" alt="profile-image" class="profile" />
            <div class="card-content">
              <h2>Polyphia<small>Progressive Metal</small></h2>
                 <div class="icon-block"><a href="https://open.spotify.com/artist/4vGrte8FDu062Ntj0RsPiZ?si=Unc4T52RRlyQXtodn9-uMA"><i class="fa fa-spotify"></i></a><a href="twitter.com/polyphia"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/polyphia"> <i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
        <div class="card profile-card-1">
<!--            <img src="https://i.scdn.co/image/ab67616d0000b2737a799cc62e624fd6432779e3" alt="profile-sample1" class="background" />-->
            <img src="https://images.squarespace-cdn.com/content/535eb4d7e4b08c41d0c4ae5c/1554264966079-PUTT2QI6KVVC33W3Q3L1/Polyphia-Look-But-Dont-Touch.JPG?format=1000w&content-type=image%2Fjpeg" alt="profile-image" class="profile" />
            <div class="card-content">
              <h2>Polyphia<small>Progressive Metal</small></h2>
                 <div class="icon-block"><a href="https://open.spotify.com/artist/4vGrte8FDu062Ntj0RsPiZ?si=Unc4T52RRlyQXtodn9-uMA"><i class="fa fa-spotify"></i></a><a href="twitter.com/polyphia"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/polyphia"> <i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
        <div class="card profile-card-1">
<!--            <img src="https://i.scdn.co/image/ab67616d0000b2737a799cc62e624fd6432779e3" alt="profile-sample1" class="background" />-->
            <img src="https://images.squarespace-cdn.com/content/535eb4d7e4b08c41d0c4ae5c/1554264966079-PUTT2QI6KVVC33W3Q3L1/Polyphia-Look-But-Dont-Touch.JPG?format=1000w&content-type=image%2Fjpeg" alt="profile-image" class="profile" />
            <div class="card-content">
              <h2>Polyphia<small>Progressive Metal</small></h2>
                 <div class="icon-block"><a href="https://open.spotify.com/artist/4vGrte8FDu062Ntj0RsPiZ?si=Unc4T52RRlyQXtodn9-uMA"><i class="fa fa-spotify"></i></a><a href="twitter.com/polyphia"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/polyphia"> <i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
        <div class="card profile-card-1">
<!--            <img src="https://i.scdn.co/image/ab67616d0000b2737a799cc62e624fd6432779e3" alt="profile-sample1" class="background" />-->
            <img src="https://images.squarespace-cdn.com/content/535eb4d7e4b08c41d0c4ae5c/1554264966079-PUTT2QI6KVVC33W3Q3L1/Polyphia-Look-But-Dont-Touch.JPG?format=1000w&content-type=image%2Fjpeg" alt="profile-image" class="profile" />
            <div class="card-content">
              <h2>Polyphia<small>Progressive Metal</small></h2>
                 <div class="icon-block"><a href="https://open.spotify.com/artist/4vGrte8FDu062Ntj0RsPiZ?si=Unc4T52RRlyQXtodn9-uMA"><i class="fa fa-spotify"></i></a><a href="twitter.com/polyphia"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/polyphia"> <i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
        <div class="card profile-card-1">
<!--            <img src="https://i.scdn.co/image/ab67616d0000b2737a799cc62e624fd6432779e3" alt="profile-sample1" class="background" />-->
            <img src="https://images.squarespace-cdn.com/content/535eb4d7e4b08c41d0c4ae5c/1554264966079-PUTT2QI6KVVC33W3Q3L1/Polyphia-Look-But-Dont-Touch.JPG?format=1000w&content-type=image%2Fjpeg" alt="profile-image" class="profile" />
            <div class="card-content">
              <h2>Polyphia<small>Progressive Metal</small></h2>
                 <div class="icon-block"><a href="https://open.spotify.com/artist/4vGrte8FDu062Ntj0RsPiZ?si=Unc4T52RRlyQXtodn9-uMA"><i class="fa fa-spotify"></i></a><a href="twitter.com/polyphia"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/polyphia"> <i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>
